  <ion-content class="tutorial-page">
    <ion-slides pager>
      <ion-slide *ngFor="let slide of slides">
        <ion-toolbar>
          <ion-buttons end>
            <button ion-button color="primary" (click)="finishTutorial()">Skip</button>
          </ion-buttons>
        </ion-toolbar>
        <img [src]="slide.image" class="slide-image"/>
        <h2 class="slide-title" [innerHTML]="slide.title"></h2>
        <p [innerHTML]="slide.description"></p>
      </ion-slide>
      <ion-slide>
        <ion-toolbar>
        </ion-toolbar>
        <img src="assets/images/ready-for-play.png" class="slide-image"/>
        <h2 class="slide-title">Lets Go</h2>
        <button ion-button large clear icon-end color="primary" (click)="finishTutorial()">
          Continue
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ion-slide>
    </ion-slides>
  </ion-content>