<ion-header>

  <ion-navbar color="primary">
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
 
  <form (ngSubmit)="loginForm()">
      <ion-list>
    <ion-item>
      <ion-input type="tel" [(ngModel)]="data.phone" name="phone" placeholder="Enter your mobile number"></ion-input>
    </ion-item>
    </ion-list>
    <button ion-button type="submit" block>Send Code</button>
  </form>
</ion-content>
