<ion-header>
  <ion-navbar color="primary">
      <button ion-button menuToggle end>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>{{data.name}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content text-center>

<br />
  <img src="{{profile_photo}}" class="profile-photo" />
<h6 class="title-color" (click)="photoUpload()" *ngIf="is_owner">Take Picture / Upload</h6>
 
<br />
  <button ion-button *ngIf="is_owner == false" (click)="sendMessage(profile_id)">Send Message</button>
<div *ngIf="is_owner">
    <form (ngSubmit)="profileForm()">
        <ion-list>
        <ion-item>
            <ion-label color="primary" floating>Name</ion-label>
            <ion-input type="text" [(ngModel)]="data.name" name="name"></ion-input>
          </ion-item>
        <ion-item>
            <ion-label color="primary" floating>Phone</ion-label>
            <ion-input type="text" [(ngModel)]="data.phone" name="phone" readonly></ion-input>
          </ion-item>
        </ion-list>
<div padding>
        <button ion-button type="submit" block>Save</button>
</div>
      </form>

</div>
<div *ngIf="is_owner == false" class="p-style">
<br />

<ion-item>
  Phone
  <ion-badge item-end>{{data.phone}}</ion-badge>
</ion-item>
</div>
</ion-content>
