page-send-message {
	 ion-content {
    background: #efe7dd url("../assets/imgs/chat-bg.jpg") repeat;
  }

      .conversation {
        //height: calc(100% - 12px);
        position: relative;
        //background: #efe7dd url("../assets/imgs/chat-bg.jpg") repeat;
        z-index: 0;
      }
      
      .conversation ::-webkit-scrollbar {
        transition: all .5s;
        width: 5px;
        height: 1px;
        z-index: 10;
      }
      
      .conversation ::-webkit-scrollbar-track {
        background: transparent;
      }
      
      .conversation ::-webkit-scrollbar-thumb {
        background: #b3ada7;
      }
      
      .conversation .conversation-container {
       //height: calc(100% - 68px);
        overflow-x: hidden;
        padding: 0 16px;
        margin-bottom: 5px;
      }
      
      .conversation .conversation-container:after {
        content: "";
        display: table;
        clear: both;
      }
      
      /* Messages */
      
      .message {
        color: #212529;
        clear: both;
        line-height: 18px;
        font-size: 15px;
        padding: 8px;
        position: relative;
        margin: 8px 0;
        max-width: 85%;
        word-wrap: break-word;
        z-index: -1;
      }
      
      .message:after {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
      }
      
      .metadata {
        display: inline-block;
        float: right;
        padding: 0 0 0 7px;
        position: relative;
        bottom: -4px;
      }
      
      .metadata .time {
        color: rgba(0, 0, 0, .45);
        font-size: 11px;
        display: inline-block;
      }
      
      .metadata .tick {
        display: inline-block;
        margin-left: 2px;
        position: relative;
        top: 4px;
        height: 16px;
        width: 16px;
      }
      
      .metadata .tick svg {
        position: absolute;
        transition: .5s ease-in-out;
      }
      
      
      .message.received {
        background: #d8d8d8;
        border-radius: 0px 5px 5px 5px;
        float: left;
      }
      
      .message.received .metadata {
        padding: 0 0 0 16px;
      }
      
      .message.received:after {
        border-width: 0px 10px 10px 0;
        border-color: transparent #d8d8d8 transparent transparent;
        top: 0;
        left: -10px;
      }
      
      .message.sent {
        background: #def4d7;
        border-radius: 5px 0px 5px 5px;
        float: right;
      }
      
      .message.sent:after {
        border-width: 0px 0 10px 10px;
        border-color: transparent transparent transparent#def4d7;
        top: 0;
        right: -10px;
      }
      
        .md-icon {
          font-size : 30px;
        }

        .circle {
          background: #488aff;
          border-radius: 50%;
          color: #fff;
          position: relative;
          width: 48px;
          height: 48px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        
        .circle i {
          font-size: 24px;
          margin-left: 5px;
        }
}
