<!--
  Generated template for the SendMessagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>You Started</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

 


<!--<div *ngIf="(receiver_detail.photo == '' || receiver_detail.photo == NULL)">
                      <img src="assets/images/default.png">
                  </div>
                  <div *ngIf="(receiver_detail.photo != '' && receiver_detail.photo != NULL)">
                      <img src="{{WEBSERVICE_PROFILE_PHOTO}}{{receiver_detail.photo}}">
                  </div>
              </ion-avatar>
              <ion-avatar item-start *ngIf="message.is_replied == NULL">
                  <div *ngIf="(sender_detail.photo == '' || sender_detail.photo == NULL)">
                    <img src="assets/images/default.png">
                  </div>
                  <div *ngIf="(sender_detail.photo != '' && sender_detail.photo != NULL)">
                      <img src="{{WEBSERVICE_PROFILE_PHOTO}}{{sender_detail.photo}}">
                  </div>
                </ion-avatar>

<button ion-button color="primary" clear small icon-start (click)="delete_sent_message(message.id)">
        <ion-icon name="trash"></ion-icon>
      </button>-->



<!-- New Design -->
<div class="conversation">
        <div class="conversation-container">
          <div *ngFor="let message of messages">
          <div [ngClass]="message.is_replied != NULL ? 'message received' : 'message sent'">
            {{message.message}}
            <span class="metadata">
                <span class="time">
		<span *ngIf="message.is_replied != NULL">
                 {{receiver_detail.name}}
		</span>
		<span *ngIf="message.is_replied == NULL">
                  {{sender_detail.name}} 
		</span>
                  {{message.created_at | date:'dd.MM hh:MM'}}
                </span>
                <!--<span class="tick">
                    <svg height="15" id="msg-dblcheck-ack" width="16" x="2063" xmlns="http://www.w3.org/2000/svg" y="2076"><path d="M15.01 3.316l-.478-.372a.365.365 0 0 0-.51.063L8.666 9.88a.32.32 0 0 1-.484.032l-.358-.325a.32.32 0 0 0-.484.032l-.378.48a.418.418 0 0 0 .036.54l1.32 1.267a.32.32 0 0 0 .484-.034l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.88a.32.32 0 0 1-.484.032L1.892 7.77a.366.366 0 0 0-.516.005l-.423.433a.364.364 0 0 0 .006.514l3.255 3.185a.32.32 0 0 0 .484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z" fill="#4fc3f7"></path></svg>
                </span>-->
            </span>
          </div>
          </div>
        </div>
      </div>
<!---->
<div id="content-bottom-ConversationPage"></div>
</ion-content>



<ion-footer>
    <form (ngSubmit)="messageForm(to_user_id)">
        <ion-item>
            <ion-textarea [(ngModel)]="data.message" name="message" placeholder="Write Message"></ion-textarea>
            <button type="submit" item-right class="circle" [disabled]="data.message === ''">
              <ion-icon name="md-send" class="md-icon"></ion-icon>
            </button>
        </ion-item>
    </form>

   
</ion-footer> 
