<ion-header>
  <ion-navbar no-border-bottom color="primary">
      <button ion-button menuToggle end>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>
      {{APP_NAME}}
    </ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top color="primary">
    <ion-segment [(ngModel)]="messages" color="light">
      <ion-segment-button value="received">
        Someone
      </ion-segment-button>
      <ion-segment-button value="sent">
        Your
      </ion-segment-button>
      <ion-segment-button value="search">
        Search
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="list-avatar-page">


  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <div [ngSwitch]="messages">
    <ion-list *ngSwitchCase="'received'">
	<ion-list-header>
Anonymous messages
<br /><br />
Each messages is from different users.
</ion-list-header>
        <ion-item-sliding #item *ngFor="let send_message of send_messages">
            <ion-item (click)="replyPage(send_message.from_user_id)">
                <ion-avatar item-start *ngIf="send_message.is_replied != NULL">
                    <div *ngIf="(sender_detail.photo == '' || sender_detail.photo == NULL)">
                        <img src="assets/images/default.png">
                      </div>
                      <div *ngIf="(sender_detail.photo != '' && sender_detail.photo != NULL)">
                        <img src="{{WEBSERVICE_PROFILE_PHOTO}}{{sender_detail.photo}}">
                      </div>
                  </ion-avatar>
                  <ion-avatar item-start *ngIf="send_message.is_replied == NULL">
                      <img src="assets/images/default.png">
                  </ion-avatar>
			<div [ngClass]="send_message.is_seen == 0 ? 'highlight-all' : 'highlighted-normal'">
                  <h2 *ngIf="send_message.is_replied != NULL">{{sender_detail.name}}</h2>
                  <h2 *ngIf="send_message.is_replied == NULL">Someone</h2> 
                <p>{{send_message.message}}</p>

<ion-note item-end>{{send_message.created_at}}</ion-note>
</div>
	

              </ion-item>
        </ion-item-sliding>
    </ion-list>

    <ion-list *ngSwitchCase="'sent'">
<ion-list-header>
Anonymous messages
<br /><br />
Your identity will always anonymous.
</ion-list-header>
        <ion-item-sliding #item *ngFor="let sent_message of sent_messages">
            <ion-item (click)="sendMessage(sent_message.to_user_id)">
                <ion-avatar item-start *ngIf="sent_message.is_replied != NULL">
                    <div *ngIf="(sent_message.photo == '' || sent_message.photo == NULL)">
                        <img src="assets/images/default.png">
                      </div>
                      <div *ngIf="(sent_message.photo != '' && sent_message.photo != NULL)">
                        <img src="{{WEBSERVICE_PROFILE_PHOTO}}{{sent_message.photo}}">
                      </div>
                  </ion-avatar>
                  <ion-avatar item-start *ngIf="sent_message.is_replied == NULL">
                      <div *ngIf="(sender_detail.photo == '' || sender_detail.photo == NULL)">
                          <img src="assets/images/default.png">
                        </div>
                        <div *ngIf="(sender_detail.photo != '' && sender_detail.photo != NULL)">
                          <img src="{{WEBSERVICE_PROFILE_PHOTO}}{{sender_detail.photo}}">
                        </div>
                    </ion-avatar>
<div [ngClass]="sent_message.is_seen == 0 ? 'highlight-all' : 'highlighted-normal'">
                <h2 *ngIf="sent_message.is_replied != NULL">{{sent_message.name}}</h2>
		<h3 *ngIf="sent_message.is_replied != NULL">{{sender_detail.name}}</h3>


                <h2 *ngIf="sent_message.is_replied == NULL">{{sender_detail.name}}</h2> 
		<h2 *ngIf="sent_message.is_replied == NULL">{{sent_message.name}}</h2> 

                  <p>{{sent_message.message}}</p>
		
<ion-note item-end>{{sent_message.created_at}}</ion-note>
</div>
              </ion-item>
        </ion-item-sliding>
    </ion-list>

    <ion-list *ngSwitchCase="'search'">
        <ion-searchbar [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel" (ionInput)="search($event)">
      </ion-searchbar>
    <div *ngIf="searchLoading" text-center>Please wait.....</div>
        <ion-item *ngFor="let search_user of search_users">
            <ion-avatar item-start  (click)="goProfile(search_user.id)">
              <div  *ngIf="(search_user.photo == '' || search_user.photo == NULL)">
                <img src="assets/images/default.png">
              </div>
              <div *ngIf="(search_user.photo != '' && search_user.photo != NULL)">
                <img src="{{WEBSERVICE_PROFILE_PHOTO}}{{search_user.photo}}">
                </div>
              </ion-avatar>
            <h2 (click)="goProfile(search_user.id)">{{search_user.name}}</h2>
            <p>
                <button ion-button icon-left  color="secondary" (click)="goProfile(search_user.id)">
                    <ion-icon></ion-icon>
                    View Profile
                  </button>
                  <button ion-button icon-right (click)="sendMessage(search_user.id)"> 
                      Send Message
                    <ion-icon></ion-icon>
                  </button>
            </p>
          </ion-item>
    </ion-list>
  </div>
</ion-content>
