<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Photo Upload
    </ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content padding>
  <div *ngIf="lastImage != null">
  <img src="{{pathForImage(lastImage)}}" class="photo-preview">
  </div>
</ion-content>
 
<ion-footer text-center>
    <div *ngIf="lastImage != null" (click)="uploadImage()">
  <ion-toolbar color="primary">
      <ion-buttons>
          <button ion-button full icon-left>
              <ion-icon name="cloud-upload"></ion-icon> Upload
            </button>
        </ion-buttons>
      </ion-toolbar>
      <br />
      </div>
        <ion-toolbar color="primary" (click)="presentActionSheet()">
          <ion-buttons>
            <button ion-button icon-left>
              <ion-icon name="camera"></ion-icon>Select Image
            </button>
          </ion-buttons>
  </ion-toolbar>
</ion-footer>
