<ion-header>

  <ion-navbar color="primary">
    <ion-title>Enter OTP</ion-title>
  </ion-navbar>

</ion-header>



<ion-content padding>
 


  <form (ngSubmit)="otpForm()">
      <ion-list>
    <ion-item>
      <ion-input type="tel" [(ngModel)]="data.phone" name="phone" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="number" [(ngModel)]="data.otp" name="otp" placeholder="Enter your login OTP"></ion-input>
    </ion-item>
    </ion-list>
    <button ion-button type="submit" block>Submit</button>
  </form>
</ion-content>
