<ion-header>
  <ion-navbar color="primary">
    <ion-title>Reset Password</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <form (ngSubmit)="resetForm()">
      <ion-list>
    <ion-item>
      <ion-label color="primary" floating>Code from email</ion-label>
      <ion-input type="text" [(ngModel)]="data.forgot_password_token" name="forgot_password_token"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" floating>New Password</ion-label>
      <ion-input type="password" [(ngModel)]="data.password" name="password"></ion-input>
    </ion-item>
    </ion-list>
    <button ion-button type="submit" block>Submit</button>
  </form>
</ion-content>
